@import "tailwindcss";

@theme {
  --color-bg-main: #0f1117;
  --color-bg-card: rgba(23, 25, 35, 0.4);

  --color-neon-cyan: #22d3ee;
  --color-neon-pink: #d946ef;
}

@layer base {
  body {
    @apply bg-bg-main text-slate-200 antialiased;
  }
}

.neon-border {
  box-shadow: 0 0 10px var(--color-neon-cyan), inset 0 0 5px var(--color-neon-cyan);
  border: 1px solid var(--color-neon-cyan);
}

.neon-text-pink {
  text-shadow: 0 0 15px rgba(255, 0, 255, 0.7);
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(34, 211, 238, 0.2);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(34, 211, 238, 0.5);
  }
}